@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    overflow: hidden;
}

.color-change{
    position: absolute;
    top: 90%;
    left:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#circle1 {
    position: absolute;
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
    background: #ee0606;
    clip-path: circle(250px at top );
}

#circle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    background: #ee0606;
    clip-path: circle(250px at bottom );
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content .text {
    position: relative;
    top: -50px;
    max-width: 450px;
}

.content .text h2 {
    color: #333;
    font-size: 3em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .text a {
    display: inline-block;
    padding: 8px 20px;
    background:#ee0606 ;
    color:white;
    border-radius: 40px;
    font-weight: 500;   
    letter-spacing: 1px;
    text-decoration: none;
    /* opacity: 0.6; */
}
.content .text a:active {
    background-color: #ee0606;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  /* .content .text a:hover {opacity: 1} */
.content .image {
width: 600px;
display:flex;
justify-content: flex-end;

}

.content .image img {
    max-height: 800px;
    max-width: 350px;
    padding-top: 40px;
   
}

.social {
    position: absolute;
    top:50%;
    right: -50px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social li {
    list-style: none;

}

.social li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

.color-change input {
    display: inline-block;
    height: 5px;
    width: 40px;
    margin-left: 4px;
    border: none;
    text-decoration: none;
}
.red {
    background:#ee0606 ;
}

.blue {
    background:#0951b0 ;
}

.yellow {
    background:#dbc609 ;
}
@media screen and (max-width: 1080px) {
    .content .text h2 {position: relative;
        left: 52%;
        padding-top: 5%;
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        line-height: 1.4em;
        font-weight: 500;
        text-align: center;
    }
    .content .text p {position: relative;
        left: 53%;
        color: rgb(255, 255, 255);
        font-size: 0.9em;
        line-height: 1em;
        font-weight: 200;
        text-align: center;
    }
    .content .text a {
        position: relative;
        left: 89%;  
        padding: 8px 20px;
        background:#000000 ;
        color:white;
        border-radius: 40px;
        font-weight: 500;   
        letter-spacing: 1px;
        text-decoration: none;
        text-align: center;
    }

    .content .image img {
        position: absolute;
        top:75%;
        left:38%;
        max-height: 400px;
        max-width: 300px;
        padding-top: 40px;
       
    }
    
  
    #circle1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: #ee0606;
        clip-path: circle(300px at top );
    }

    #circle2 {
        position: absolute;
        top: 50%;
        left: 0;
        height: 50%;
        width: 100%;
        background: #ee0606;
        clip-path: circle(300px at bottom  );
      
    }
    .social {
        position: absolute;
        top:130%;
        right: -50px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .color-change{
        position: absolute;
        top: 100%;
        left:0%;
       flex-direction: column;
        
    }
    .color-change input {
        margin-bottom: 50%;
    }

    }

    @media only screen and (max-width: 990px){
        .navbar{
            position: relative;
            right: 7%;
        }
        .content .text h2 {position: relative;
            left: 25%;
          
        }
        .content .text p {position: relative;
            left: 25%;
            
            
        }
        .content .text a {
            position: relative;
            left: 64%;  
      
        }
    
        .content .image img {
            position: absolute;
            top:75%;
            left:35%;
            
           
        }
    }
    @media only screen and (max-width: 765px){
        .navbar a {
            filter: invert(1);
        }
    }

    @media only screen and (max-width: 600px) {
        .content .text h2 {position: relative;
            left: 25%;
            padding-top: 20%;
       
        }
        .content .text p {position: relative;
            left: 25%;
            color: rgb(255, 255, 255);
            text-align: center;
        }
        .content .text a {
            position: relative;
            left: 55%;  
          
        }
    
        .content .image img {
            position: absolute;
            top:78%;
            left:30%;
            max-height: 350px;
            max-width: 300px;
            padding-top: 40px;
           
        }
        #circle1 {
            position: absolute;
            top: 0;
            left: 0;
            height: 50%;
            width: 100%;
            
            clip-path: circle(500px at top );
        }
    
        #circle2 {
            position: absolute;
            top: 50%;
            left: 0;
            height: 50%;
            width: 100%;
          
            clip-path: circle(500px at bottom  );
      }
      .social {
        position: absolute;
        top:100%;
        right: -10px;
     
    }
    .social li a {
        display: inline-block;
        margin: 5px 0;
        transform: scale(0.6);
        filter: invert(1);
    }
    .navbar { position: relative;
    left:3%}
    .navbar a {
        filter: invert(1);
    }


    }